<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2050928143-s8pds5kaan72gv4f52dpehupnm0f4tk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2050928143-s8pds5kaan72gv4f52dpehupnm0f4tk0</string>
	<key>API_KEY</key>
	<string>AIzaSyBniZAey-CJuJBndHvzi9j0OioZDcCX27Y</string>
	<key>GCM_SENDER_ID</key>
	<string>2050928143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mjolnir.assistant.beta</string>
	<key>PROJECT_ID</key>
	<string>bishopric-assistant-beta-test</string>
	<key>STORAGE_BUCKET</key>
	<string>bishopric-assistant-beta-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2050928143:ios:2ba12ac9994f0e852f7d7a</string>
</dict>
</plist>